{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}   

{% block body %}
{{ form_start(registrationForm) }}
<div class="container"><br>
		<h1 class="text-success text-center"> Registration Form</h1><br>
		<div class="col-lg-8 m-auto d-block">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {# <h1>Register</h1> #}
    <div class="form-group">
		<label> First Name: </label>
        {{form_errors(registrationForm.first_name)}}
        {{form_widget(registrationForm.first_name, {attr: {class: 'form-control', placeholder:'Enter your first name'}})}}
		<span class="text-danger font-weight-bold"></span>
	</div>

    <div class="form-group">
		<label> Last Name: </label>
        {{form_errors(registrationForm.last_name) }}
        {{form_widget(registrationForm.last_name, {attr: {class: 'form-control', placeholder:'Enter your last name'}})}}
		<span class="text-danger font-weight-bold"></span>
	</div>

     <div class="form-group">
		<label> Contact Number: </label>
        {{form_errors(registrationForm.contact) }}
        {{form_widget(registrationForm.contact, {attr: {class: 'form-control', placeholder:'Enter your mobile number'}})}}
		<span class="text-danger font-weight-bold"></span>
	</div>

    <div class="form-group">
		<label> Email: </label>
        {{form_errors(registrationForm.email) }}
        {{form_widget(registrationForm.email, {attr: {class: 'form-control', placeholder:'Enter your Email'}})}}
		<span class="text-danger font-weight-bold"></span>
	</div>

   

    <div class="form-group">
		<label> Gender: </label>
        {{form_errors(registrationForm.gender) }}
        {{form_widget(registrationForm.gender, {attr: {class: 'form-control'}})}}
		<span class="text-danger font-weight-bold"></span>
	</div>

    <div class="form-group">
		<label> Date of Birth: </label>
        {{form_errors(registrationForm.dob) }}
        {{form_widget(registrationForm.dob)}}
		<span class="text-danger font-weight-bold"></span>
	</div>

        <div class="form-group">
            {{form_label(registrationForm.plainPassword.first)}}
            {{form_errors(registrationForm.plainPassword.first)}}
            {{form_widget(registrationForm.plainPassword.first, {attr: {class: 'form-control', placeholder:'Enter your password'}})}}
        </div>
   
    
    <div class="form-group"> 
            {{form_label(registrationForm.plainPassword.second)}}
            {{form_errors(registrationForm.plainPassword.second)}}
            {{form_widget(registrationForm.plainPassword.second, {attr: {class: 'form-control', placeholder:'Re-enter your password'}})}}
        
    </div>
    <button type="submit" class="btn btn-success">Register</button>
    {{ form_end(registrationForm) }}
    {# {{ form_start(registrationForm) }}
        {# {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }} #}
        {# <button type="submit" class="btn btn-success">Register</button>
    {{ form_end(registrationForm) }} #}
     </div>
    </div>
{% endblock %}
